<!-- <div>
  <div>
    <div>
      <button [disabled]="isTracking" class="btn btn-primary" (click)="findMe()">Find me</button>
      <button class="btn btn-primary" (click)="trackMe()">Track me</button>
    </div>
    <div class="text-white">
      <span>Longitude: {{currentLong}}</span>
      <span>Longitude: {{currentLong}}</span>
    </div>
    <br>
    <div class="row">
      <div class="col-md-12">
        <div class="text-center">
          <h3>
            <div #gmap style="width:100%;height:300px"></div>
          </h3>
        </div>
      </div>
    </div>
  </div>
  <br>
</div> -->

<div class="container">
  
  <mat-card [ngClass]="{'card-background':true}">
    <div class='buttons-container'>
        <button mat-raised-button color="primary" [disabled]="isTracking" class="btn btn-primary button-left" (click)="findMe()">Find me</button>
        <button mat-raised-button color="primary" class="btn btn-primary button-right" (click)="trackMe()">Track me</button>
    </div>
    <div class='text-container'>
        <span>Longitude: {{currentLong}} </span>
    </div>
    <div clas='map-container'>
        <div #gmap class='map' style="width:100%;height:300px"></div>
    </div>
  </mat-card> 

</div>