.answer-card
{
    padding: 5px;
    height: 300px;
    margin: 25px;
    border: 2px #00EA60 solid;
}
.answer-cardmat-grid-tile mat-card
{
    width: 100%;
    box-sizing: border-box;
}
.answer-content-container
{
    width: 100%;
    box-sizing: border-box;
}

