.point-vote-row
{
    text-align: center;
    width: 100%;
    margin: 0 auto;
}
.point-vote-row p
{
    margin: 0;
}

button mat-icon
{
    transition: all .2s ease-in-out;
    color: #FFFFFF;
}

.buttonDown.clicked mat-icon
{
    color: red;
    transform: scale(1.1);
}

.buttonUp.clicked mat-icon
{
    color: #19ff19;
    transform: scale(1.1);
}