<div class="point-vote-row">
    <button
      class="buttonUp"
      mat-icon-button color="primary"
      matTooltip="Vote up!"
      (click)="vote('up');  addClass( id = 1 )"
      [ngClass]="{'clicked': id === 1 }"
      id = "1"
    >
      <mat-icon>
        arrow_drop_up
      </mat-icon>
    </button>
    
      <p *ngIf="question">
          {{ (question | async)?.score }}
      </p>
      <p *ngIf="answer">
          {{ (answer)?.score }}
      </p>

    <button
      class="buttonDown"
      mat-icon-button color="accent"
      matTooltip="Vote down!"
      (click)="vote('down'); addClass( id = 2 )"
      [ngClass]="{'clicked': id === 2 }"
      id = "2"
    >
      <mat-icon>
        arrow_drop_down
      </mat-icon>
    </button>
  </div>