<mat-grid-list class="question-card" cols="4" rowHeight="fit">
    <mat-grid-tile 
        class="question-user-points-tile"
        [colspan]="1"
        [rowspan]="2"
    >
        <mat-card class="question-user-points-container">
            <mat-card class="question-user-card">
                <app-question-answer-user [question]="question"></app-question-answer-user>
            </mat-card>
            <mat-card class="question-user-card"> 
                <app-question-answer-points (upVote)="voteUp($event)" (downVote)="voteDown($event)" [question]="question"></app-question-answer-points>
            </mat-card>
        </mat-card>
    </mat-grid-tile>

    <mat-grid-tile 
        class="question-content-tile"
        [colspan]="3"
        [rowspan]="2"
    >
        <mat-card class="question-content-container">
            <app-question-answer-content [question]="question"></app-question-answer-content>
        </mat-card>
    </mat-grid-tile>

</mat-grid-list>
<div class="answer-form-container">
    <app-answer-form [questionKey]="questionKey"></app-answer-form>
</div>

<app-answer-list></app-answer-list>