<!-- <app-screen-toolbar [screenName]="'Your profile'"></app-screen-toolbar>
<div class='profile-screen-container'>
  <div class='profile-details'>
    <div class='left-side'>
      <div class='photo'>
        <img src="{{ profile.photo }}" alt="{{ profile.name }}">
      </div>
      <div class='points-contener'>
        <span> {{ profile.points }} </span>
      </div>
      <div class='counter'>
        <span> 3 answers </span>
        <span> 5 questions </span>
      </div>
    </div>
    <div class='right-side'>
      <div class='name'>
        <span> {{ profile.name }}</span> 
      </div>
      <div class='description'>
        <span> {{ profile.description }} </span>
      </div>
    </div>
  </div>
  <div class='tags-container'> 
    <div class='single-tag'>
      #Test tag
    </div>
  </div>
  <div class='posts-container'> 
    <div class='single-post'>
      #Test post
    </div>
  </div>
</div> -->

<!-- testowe pobieranie wartości bezpośrednio po zalogowaniu-->
<!-- <div *ngIf="(afAuth.user | async) as user">
  <h1>name: {{ user.displayName }}</h1>
  <h1>email: {{ user.email }}</h1>
  <h1>uid: {{ user.uid }}</h1>
  <img src="{{ user.photoURL }}">
  <button mat-raised-button type="submit" (click)="signOut()" color="primary">Wyloguj</button>
</div> -->

<!--  OCHYDA! wYWALIĆ TO W CIUL I PRZYGOTOWAĆ COŚ CO WYGLĄDA NORMALNIE -->