<app-screen-toolbar [screenName]="'Your profile'"></app-screen-toolbar>
<mat-card > 
  <p *ngIf="user">
    Username: {{ (this.user | async)?.username }}
  </p>
</mat-card>
<mat-card > 
  <p *ngIf="user">
    Email: {{ (this.user | async)?.email }}
  </p>
</mat-card>
<mat-card > 
  Zdjecie: <img class="avatar" async src="{{ (this.user | async)?.avatar }}" />
</mat-card>
<mat-card > 
  <p *ngIf="question">
   Pytania: {{ (question | async)?.author }}
</p>
</mat-card>
<mat-card > 
  <p *ngIf="user">
    Punkty: {{ (this.user | async)?.score }}
  </p>
</mat-card>

<mat-card > 
  <button mat-raised-button type="submit" (click)="signOut()" color="primary">Wyloguj</button>
</mat-card>