<div class="question-create-screen">

  <form (ngSubmit)="onSubmit(questionForm)" #questionForm="ngForm">

    <div class="form-row">
      <mat-form-field>
        <input matInput placeholder="Title" 
              type="text" id="title"
              required
              [(ngModel)]="questionModel.title" name="title"
              #title="ngModel">
      </mat-form-field>
    </div>
    
    <div class="form-row">
        <mat-form-field>
          <input matInput placeholder="Description" 
                type="text" id="content"
                required
                [(ngModel)]="questionModel.content" name="content"
                #content="ngModel">
        </mat-form-field>
    </div>
    
    <div class="form-row">
        <button mat-raised-button type="submit" class="btn btn-success" [disabled]="!questionForm.form.valid">Submit</button>
    </div>

  </form>

</div>