@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body 
{ 
    margin: 0;
    font-family: Lato;
    color: #EBEFF0;
    background: #516E78;
}


.navigation-tab-bar-element, .mat-tab-label, .mat-tab-link
{
    color: #EBEFF0;
}
.mat-tab-label-active 
{
    color: #00E7B7 !important;
} 

.mat-dialog-container 
{
    -moz-transition: height 1s ease;
    -webkit-transition: height 1s ease;
    -o-transition: height 1s ease;
    transition: height 1s ease;
    background-color: #29353A !important;
    color: #EBEFF0 !important;
}
.mat-dialog-container .mat-tab-label-content
{
    color: #EBEFF0 !important;
}
.mat-dialog-container .mat-card
{
    -moz-transition: height 1s ease;
    -webkit-transition: height 1s ease;
    -o-transition: height 1s ease;
    transition: height 1s ease;
    background-color: #29353A !important;
    color: #EBEFF0 !important;
}